@font-face {
    font-family: binz;
    src: url(Road_Rage.otf);
}
@font-face {
    font-family: flower;
    src: url(FVF\ Fernando\ 08.ttf);
}
body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    height: 1536px;
    width: 2200x;
}
#heading1{
    font-family: binz;
    font-size: 65px;
    
    margin-top: 0;
    padding-left: 50px;
    width: 100%;
   
}
.socialmedia1{
    width: 70px;
    position: absolute;
    top: 14px;
    right: 100px;
}
.socialmedia2{
    width: 70px;
    position: absolute;
    top: 14px;
    right: 12px;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%, 0);

}
.navigation-bar{
    float: left;
}
.navigation-bar a{
    display: block;
    color: black;
    text-align: center;
    padding: 12px 60px;
    text-decoration: none;
    font-size: 30px;
    font-family: flower;
    
}
.navigation-bar a:hover{
    color: pink;
}
#slogan{
    font-family: flower;
    top: 433px;
    position: absolute;
    left: 222px;
    font-size: 55px;
    color: black;
    
    
}
#menu{
    height: 1536px;
    width: 100%;
    background-image: url(images/binzbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}